[submodule ".glaze-wm"]
	path = .glaze-wm
	url = https://github.com/chubbyhippo/.glaze-wm.git
[submodule ".ideavimrc"]
	path = .ideavimrc
	url = https://github.com/chubbyhippo/.ideavimrc.git
[submodule "Intellij-settings"]
	path = Intellij-settings
	url = https://github.com/chubbyhippo/Intellij-settings.git
[submodule "powershell-profile"]
	path = powershell-profile
	url = https://github.com/chubbyhippo/powershell-profile.git
[submodule "code-settings"]
	path = code-settings
	url = https://github.com/chubbyhippo/code-settings.git
[submodule ".vimrc"]
	path = .vimrc
	url = https://github.com/chubbyhippo/.vimrc.git
[submodule "ahk"]
	path = ahk
	url = https://github.com/chubbyhippo/ahk.git
[submodule "path-settings"]
	path = path-settings
	url = https://github.com/chubbyhippo/path-settings.git
[submodule ".bashrc"]
	path = .bashrc
	url = https://github.com/chubbyhippo/.bashrc.git
