[submodule ".glaze-wm"]
	path = .glaze-wm
	url = https://github.com/chubbyhippo/.glaze-wm.git
[submodule ".ideavimrc"]
	path = .ideavimrc
	url = https://github.com/chubbyhippo/.ideavimrc.git
[submodule "Intellij-settings"]
	path = Intellij-settings
	url = https://github.com/chubbyhippo/Intellij-settings.git
